<section class="about">
	<div class="about__container container">
		<div class="about__promo">
			HELLO, HELLO!
		</div>
		<div class="about__info">
			<h2 class="about__heading main-heading text-reset">
				Who i am
			</h2>
			<p class="about__text text-reset">
				<span class="about__sticker about__sticker--home">
					I am Roger
				</span>
				<span class="about__sticker about__sticker--chicken">
					Haus living in Barcelona. When I was
				</span>
				<span class="about__sticker about__sticker--draw">
					young, brushes and paint were never leaving my pockets. I learnt to
				</span>
				<span class="about__sticker about__sticker--planet">
					draw at the same table where
					Picasso and Miró created their
				</span>
				<span class="about__sticker about__sticker--cap">
					universes. Today, I am on front page of Opensea with my
				</span>
				<span class="about__sticker about__sticker--chat">
					Exquisite Workers
					project. I draw fun comics,
				</span>
				chat stickers and design for the United Nations.
			</p>
		</div>
		<span class="about__continued text-reset">
			to be continued...
		</span>
		<p class="about__text visually-hidden">
			BY THE WAY, IT'S ME
		</p>
		<div class="about__person person">
			<div class="person__block person__block--left" aria-hidden="true">
				<span class="person__word person__word--by">
					BY
				</span>
				<span class="person__word person__word--way">
					WAY,
				</span>
				<span class="person__word person__word--its">
					IT'S
				</span>
			</div>
			<img src="img/man.png" alt="Roger Haus" class="person__image">
			<div class="person__block  person__block--rigth" aria-hidden="true">
				<span class="person__word person__word--the">
					The
				</span>
				<span class="person__word person__word--me">
					me
				</span>
			</div>
		</div>
	</div>
</section>