<section class="hero" id="hero">
	<div class="hero__container container">
		HERO
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
		<h1 class="hero__heading">I'm heading into HERO section! </h1>
	</div>
</section>