<section class="work">
	<div class="work__container container">
		<h2 class="work__heading main-heading text-reset">
			what i do
		</h2>
		<div class="work__grid ">
			<article class="work__grid-item work-item">
				<div class="work-item__image">
					<img src="img/nft-1.jpg" alt="NFT exquisite workers project" class="work-item__img">
				</div>
				<h3 class="work-item__title work-item__title--xl text-reset">
					exquisite workers project
				</h3>
			</article>
			<article class="work__grid-item work-item">
				<div class="work-item__image">
					<img src="img/nft-2.jpg" alt="NFT custom digital illustration" class="work-item__img">
				</div>
				<h3 class="work-item__title text-reset">
					CUSTOM DIGITAL ILLUSTRATION
				</h3>
			</article>
			<article class="work__grid-item work-item">
				<div class="work-item__image">
					<img src="img/nft-3.gif" alt="NFT animated video production" class="work-item__img">
				</div>
				<h3 class="work-item__title text-reset">
					ANIMATED VIDEO PRODUCTION
				</h3>
			</article>
			<article class="work__grid-item work-item">
				<div class="work-item__image">
					<img src="img/nft-4.jpg" alt="NFT hypnagogias series" class="work-item__img">
				</div>
				<h3 class="work-item__title work-item__title--xl text-reset">
					HYPNAGOGIAS SERIES
				</h3>
			</article>
			<p class="work__grid-item work-info text-reset">
				As&nbsp;a&nbsp;lifelong Surrealists fanatic, I&nbsp;draw at&nbsp;4&nbsp;am when my&nbsp;left
				brain is&nbsp;already <span class="work-info__word work-info__word--st1">sleeping</span>.
				That`s why lots of&nbsp;my&nbsp;works were born in&nbsp;the middle of&nbsp;the
				<span class="work-info__word work-info__word--st2">night</span>.
			</p>
			<article class="work__grid-item work-item">
				<div class="work-item__image">
					<img src="img/nft-5.jpg" alt="NFT product branding" class="work-item__img">
				</div>
				<h3 class="work-item__title text-reset">
					PRODUCT BRANDING
				</h3>
			</article>
			<article class="work__grid-item work-item">
				<div class="work-item__image">
					<img src="img/nft-6.jpg" alt="NFT comics and book illustration" class="work-item__img">
				</div>
				<h3 class="work-item__title text-reset">
					comics and book illustration
				</h3>
			</article>
		</div>
		<a href="#" class="work__link main-link link-reset">
			wanna see more?
		</a>
	</div>
</section>