.main-heading {
	font-size: $fz-heading;
	font-weight: 700;
	@media (max-width: $md1) {
		font-size: 45px;
	}
	@media (max-width: $md2) {
		font-size: 35px;
	}
	@media (max-width: $md3) {
		font-size: 30px;
	}
	@media (max-width: $md4) {
		font-size: 20px;
	}
}
