.main-link {
	display: inline-block;
	padding: 70px;

	background: url(../img/continued.png) center/contain no-repeat;
	color: var(--color-sage);

	font-size: 27px;
	line-height: 34px;
	text-transform: uppercase;

	@media (max-width: $md1) {
		padding: 60px;

		font-size: 26px;
	}
	@media (max-width: $md3) {
		padding: 32px;

		font-size: 16px;
	}
}
