.person {
	display: flex;
	justify-content: center;

	&__block {
		display: flex;
		flex-direction: column;
		&--left {
			justify-content: center;

			text-align: right;
		}

		&--rigth {
			justify-content: space-between;

			text-align: left;
		}
	}

	&__word {
		font-size: 153px;
		text-transform: uppercase;
		line-height: 1;

		&--by {
			transform: translateX(130px);
		}
		&--way {
			transform: translateX(110px);
		}
		&--its {
			transform: translateX(60px);
		}
		&--the {
			transform: translate(-120px, 20px);
		}
		&--me {
			transform: translate(-120px, -80px);
		}

		@media (max-width: $md1) {
			font-size: 110px;

			&--by {
				transform: translateX(100px);
			}
			&--way {
				transform: translateX(110px);
			}
			&--its {
				transform: translateX(120px);
			}
			&--the {
				transform: translate(-100px, 75%);
			}
			&--me {
				transform: translate(-120px, -87%);
			}
		}
		@media (max-width: $md3) {
			font-size: 50px;

			&--by {
				transform: translateX(50px);
			}
			&--way {
				transform: translateX(50px);
			}
			&--its {
				transform: translateX(70px);
			}
			&--the {
				transform: translate(-50px, 50px);
			}
			&--me {
				transform: translate(-65px, -50px);
			}
		}
		@media (max-width: $md4) {
			font-size: 35px;
			&--by {
				transform: translateX(36px);
			}
			&--way {
				transform: translateX(36px);
			}
			&--its {
				transform: translateX(50px);
			}
			&--the {
				transform: translate(-34px, 48px);
			}
			&--me {
				transform: translate(-50px, -50px);
			}
		}
	}

	&__image {
		width: 500px;
		height: 500px;
		object-fit: contain;
		@media (max-width: $md3) {
			width: 250px;
			height: 250px;
		}
		@media (max-width: $md4) {
			width: 200px;
			height: 200px;
		}
	}
}
