<header class="header fixed-padding" id="header">
	<div class="header__container container container--lg">
		<a href="#" class="header__logo link-reset">
			<img src="img/logo.png" alt="Logotype" class="header__img">
		</a>

		<button class="header__burger burger  btn-reset" aria-label="Open menu">
		</button>

		<nav class="header__nav nav">
			<ul class="nav__list list-reset">
				<li class="nav__item">
					<a href="#" class="nav__link link-reset">
						About
					</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link link-reset">
						what i do
					</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link link-reset">
						Contacts
					</a>
				</li>
			</ul>
			<button class="nav__overlay btn-reset" aria-label="Close menu"></button>
		</nav>
	</div>
</header>